common/mmslite-6.0000/mvl/usr/osicfg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0 (http://www.xmlspy.com) (SISCO)           -->
<!--W3C Schema generated by XML Spy v4.0 (http://www.xmlspy.com)        -->
<!-- ****************************************************************** -->
<!-- * SISCO MODULE HEADER ******************************************** -->
<!-- ****************************************************************** -->
<!-- *   (c) Copyright Systems Integration Specialists Company, Inc.,   -->
<!-- *                      2001 - 2005, All Rights Reserved            -->
<!-- *                                                                  -->
<!-- * MODULE NAME : osicfg.xsd                                         -->
<!-- * PRODUCT(S)  : ICCP                                               -->
<!-- *                                                                  -->
<!-- * MODULE DESCRIPTION :                                             -->
<!-- *    Schema (XSD) File for MMS-Lite Configuration Files.  This     -->
<!-- *    module can be utilized by any MMS-Lite Configuration File in  -->
<!-- *    XML format, such as 'osicfg.xml.xml'.                         -->
<!-- *                                                                  -->
<!-- * MODIFICATION LOG :                                               -->
<!-- *  Date     Who    Rev                   Comments                  -->
<!-- * ========  ===    ===  =========================================  -->
<!-- * 05/05/05  EJV     05  Added Rfc1006_Listen_Port, Port            -->
<!-- * 01/22/04  EJV     04  Added Rfc1006_Max_Spdu_Outstanding         -->
<!-- * 02/05/02  GLB     03  Made optional: Rfc1006_Max_Num_Conns,      -->
<!-- *                        LocalAddressList, RemoteAddressList       -->
<!-- * 01/11/02  GLB     02  Added Session and make format more uniform -->
<!-- * 10/26/01  GLB     01  Initial Release.                           -->
<!-- ****************************************************************** -->

<!--W3C Schema generated by XML Spy v4.0 (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<!-- ****************************************************************** -->
<!-- *  STACK_CFG                                                     * -->
<!-- ****************************************************************** -->
	<xsd:element name="STACK_CFG">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MMS"     minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Network" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Transport"/>
				<xsd:element ref="Session" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="NetworkAddressing"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  MMS                                                           * -->
        <xsd:element name="MMS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Max_Mms_Pdu_Length"/>
				<xsd:element ref="Max_Calling_Connections"/>
				<xsd:element ref="Max_Called_Connections"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  Network                                                       * -->
<!-- ****************************************************************** -->
	<xsd:element name="Network">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Clnp" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  Clnp                                                          * -->
        <xsd:element name="Clnp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Lifetime"           minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Lifetime_Decrement" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Cfg_Timer"          minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Esh_Delay"          minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Local_NSAP"         minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  Transport                                                     * -->
<!-- ****************************************************************** -->
	<xsd:element name="Transport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Tp4" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Tcp" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  Tp4                                                           * -->
	<xsd:element name="Tp4">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Max_Tpdu_Length"      minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Max_Remote_Cdt"       minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Local_Cdt"            minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Max_Num_Connections"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Max_Spdu_Outstanding" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Window_Time"          minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Inactivity_Time"      minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Retransmission_Time"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Max_Transmissions"    minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Ak_Delay"             minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  Tcp                                                           * -->
	<xsd:element name="Tcp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Rfc1006_Max_Tpdu_Len"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Rfc1006_Max_Num_Conns" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Rfc1006_Max_Spdu_Outstanding" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Rfc1006_Listen_Port"   minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ****************************************************************** -->
	<!-- *  Session                                                           * -->
	<xsd:element name="Session">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Disconnect_Timeout" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  NetworkAddressing                                             * -->
<!-- ****************************************************************** -->
	<xsd:element name="NetworkAddressing">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LocalAddressList"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="RemoteAddressList" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  LocalAddress                                                  * -->
	<xsd:element name="LocalAddressList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LocalAddress" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  LocalAddressList                                              * -->
<!-- ****************************************************************** -->
	<xsd:element name="LocalAddress">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AR_Name"/>
				<xsd:element ref="AP_Title"     minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="AE_Qualifier" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Psel"/>
				<xsd:element ref="Ssel"/>
				<xsd:element ref="Tsel"/>
				<xsd:element name="TransportType" type="TransportTypes"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  RemoteAddressList                                             * -->
	<xsd:element name="RemoteAddressList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RemoteAddress" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  RemoteAddress                                                 * -->
<!-- ****************************************************************** -->
	<xsd:element name="RemoteAddress">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AR_Name"/>
				<xsd:element ref="AP_Title"     minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="AE_Qualifier" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Psel"/>
				<xsd:element ref="Ssel"/>
				<xsd:element ref="Tsel"/>
				<xsd:element name="NetAddr"/>
				<xsd:element ref="Port"         minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NetAddr">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="xsd:string">
					<xsd:attribute name="Type" type="NetAddrTypes" use="required"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>


<!-- ******************************************************************* -->
<!-- *  Element Types                                                  * -->
<!-- ******************************************************************* -->
<!-- ******************************************************************* -->
<!-- *  NetAddrTypes                                                   * -->
	<xsd:simpleType name="NetAddrTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NSAP"/>
			<xsd:enumeration value="IPADDR"/>
		</xsd:restriction>
	</xsd:simpleType>
<!-- ******************************************************************* -->
<!-- *  TransportTypes                                                 * -->
	<xsd:simpleType name="TransportTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TCP"/>
			<xsd:enumeration value="TP4"/>
			<xsd:enumeration value="TPX"/>
		</xsd:restriction>
	</xsd:simpleType>

<!-- ******************************************************************* -->
<!-- *  Elements                                                       * -->
<!-- ******************************************************************* -->
	<xsd:element name="AE_Qualifier" type="xsd:string"/>
	<xsd:element name="Ak_Delay" type="xsd:unsignedByte"/>
	<xsd:element name="AP_Title" type="xsd:string"/>
	<xsd:element name="AR_Name" type="xsd:string"/>
	<xsd:element name="Cfg_Timer" type="xsd:unsignedShort"/>
	<xsd:element name="Disconnect_Timeout" type="xsd:unsignedShort"/>
	<xsd:element name="Esh_Delay" type="xsd:unsignedShort"/>
	<xsd:element name="Inactivity_Time" type="xsd:unsignedShort"/>
	<xsd:element name="Lifetime" type="xsd:unsignedByte"/>
	<xsd:element name="Lifetime_Decrement" type="xsd:unsignedByte"/>
	<xsd:element name="Local_Cdt" type="xsd:unsignedShort"/>
	<xsd:element name="Local_NSAP" type="xsd:string"/>
	<xsd:element name="Max_Called_Connections" type="xsd:integer"/>
	<xsd:element name="Max_Calling_Connections" type="xsd:integer"/>
	<xsd:element name="Max_Mms_Pdu_Length" type="xsd:integer"/>
	<xsd:element name="Max_Num_Connections" type="xsd:unsignedShort"/>
	<xsd:element name="Max_Remote_Cdt" type="xsd:unsignedShort"/>
	<xsd:element name="Max_Spdu_Outstanding" type="xsd:unsignedShort"/>
	<xsd:element name="Max_Tpdu_Length" type="xsd:unsignedShort"/>
	<xsd:element name="Max_Transmissions" type="xsd:unsignedByte"/>
	<xsd:element name="Port" type="xsd:unsignedShort"/>
	<xsd:element name="Psel" type="xsd:string"/>
	<xsd:element name="Retransmission_Time" type="xsd:unsignedShort"/>
	<xsd:element name="Rfc1006_Listen_Port" type="xsd:unsignedShort"/>
	<xsd:element name="Rfc1006_Max_Num_Conns" type="xsd:unsignedShort"/>
	<xsd:element name="Rfc1006_Max_Tpdu_Len" type="xsd:unsignedShort"/>
	<xsd:element name="Rfc1006_Max_Spdu_Outstanding" type="xsd:unsignedInt"/>
	<xsd:element name="Ssel" type="xsd:string"/>
	<xsd:element name="TransportType" type="xsd:string"/>
	<xsd:element name="Tsel" type="xsd:string"/>
	<xsd:element name="Window_Time" type="xsd:unsignedShort"/>
</xsd:schema>
